
<table>
  <tr>
    <th><a href="?sort_by=title">Title</a></th>
    <th><a href="?sort_by=publisher_id">Publisher</a></th>
    <th>Tags</th>
    <th><a href="?sort_by=isbn">Isbn</a></th>
    <th colspan="3"></th>
  </tr>

<% for book in @books %>
  <tr>
    <td><%=h book.title %></td>
    <td><%=h book.publisher.name %></td>
    <td><%= book.tag_list.to_s %></td>

  
    <td><%=h book.isbn %></td> 
    <td><%= link_to  "<img src='/images/lookat.gif', border='0', alt='查看' />", book %> 
    <%= link_to "<img src='/images/icon_edit.gif', border='0', alt='編輯'>", edit_book_path(book) %>
    <%= link_to "<img src='/images/close.gif',border='0', alt='刪除'>", book, :confirm => "Are you sure you want to delete <#{book.title}>", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @books ,
    :inner_window => 1,  
    :outer_window => 1,  
    :prev_label => 'Previous',  
    :next_label => 'Next'
    %>
<br />
<%= link_to "<img src='/images/newb.gif', border='0', alt = ‘新增圖書’>", new_book_path %>

<br/>
<ol class="tagCloud">
<% tag_cloud(@book.sort_by {|t| t.name}) do |tag, size| %>
<li><%= link_to h("#{tag.name}"), { :controller => 'tag',:action => 'show', :id => tag.name }, 
{ :style => "font-size:#{size}%"}%></li>
<% end %>
</ol>


