<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Publisher</th>
    <th>Published at</th>
    <th>Isbn</th>
    <th>Blurb</th>
    <th>Page count</th>
    <th>Price</th>
  </tr>

<% for book in @books %>
  <tr>
    <td><%=h book.title %></td>
    <td><%=h book.publisher_id %></td>
    <td><%=h book.published_at %></td>
    <td><%=h book.isbn %></td>
    <td><%=h book.blurb %></td>
    <td><%=h book.page_count %></td>
    <td><%=h book.price %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New book', new_book_path %>
